<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="google-site-verification" content="Ie4JP9a4eOQw0oDZxQz-iPm6UEH0TJX_Az5_Aj5MDAQ" />

    <link rel="icon" type="image/png" href="/favicon.png" />
    @stack('dumper')
    @viteReactRefresh()
    @inertiaHead()

    {{-- C'est la seule ligne nécessaire : elle charge votre app React --}}
    @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
  </head>

  <body class="min-h-screen antialiased bg-background w-screen tracking-normal font-sans">
    @inertia()
  </body>

</html>
