@import url(https://fonts.bunny.net/css?family=inter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.bunny.net/css?family=jetbrains-mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i);
@import 'tailwindcss';

@source "../views";

/* PP Mori Regular */
@font-face {
  font-family: 'PP Mori';
  src: url('../../resources/fonts/PP_Mori/PPMori-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* PP Mori Regular Italic */
@font-face {
  font-family: 'PP Mori';
  src: url('../../resources/fonts/PP_Mori/PPMori-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* PP Mori Extralight */
@font-face {
  font-family: 'PP Mori';
  src: url('../../resources/fonts/PP_Mori/PPMori-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* PP Mori Extralight Italic */
@font-face {
  font-family: 'PP Mori';
  src: url('../../resources/fonts/PP_Mori/PPMori-ExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* PP Mori SemiBold */
@font-face {
  font-family: 'PP Mori';
  src: url('../../resources/fonts/PP_Mori/PPMori-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* PP Mori SemiBold Italic */
@font-face {
  font-family: 'PP Mori';
  src: url('../../resources/fonts/PP_Mori/PPMori-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: 'PP Mori', 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --tracking-normal: -0.04em;

  --color-orange: #d65a0c;
  --color-purple: #7f2ccb;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-background: #f8f8f8;
  --color-grey: #6b6b6b;
}

.cursor-magnifier {
  cursor:
    url('../../public/magnifier.svg') 16 16,
    zoom-in;
}
